@import "../node_modules/bootstrap/scss/bootstrap.scss";



body {
  background-color: $secondary;
}

div.app {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  height: 100vh;

  .nav {
    min-width: 600px;
    .nav-item {
      cursor: pointer;
      border: solid 1px lightgrey;
      margin-right: -1px;
      min-width: 120px;
      z-index: 100;
      border-bottom: solid 1px $border-color;
      background-color: #f0f0f0;
      white-space: nowrap;
      // box-shadow: inset 1px -1px 1px 0px rgba(0,0,0,0.2);
      border-top: solid 1px $border-color;
      border-right: solid 1px $border-color;
      border-left: solid 1px $border-color;

      &:first-child {
        border-radius: 7px 0 0 0;
      }
      &:last-child {
        border-radius: 0 7px 0 0;
      }

      &.active {
        box-shadow: none;
        background-color: white;
        border-bottom: solid 1px white;
      }

      span.nav-link {
        color: $primary;
        font-weight: 500;
      }
    }
  }

  div.page {
    min-width: 600px;
    flex-grow: 1;
    background-color: white;
    z-index: 1;
    border: solid 2px border-color;
    padding: 1rem;
    border-radius: 0 7px 7px 7px;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.4);
  }
}